<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>        
        <property name="hibernate.connection.url">jdbc:mariadb://192.168.56.101:3306/sakila</property>
        <property name="hibernate.connection.username">batoi</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
        <mapping resource="pojos/Category.hbm.xml"/>
        <mapping resource="pojos/Film.hbm.xml"/>
        <mapping resource="pojos/Inventory.hbm.xml"/>
        <mapping resource="pojos/Rental.hbm.xml"/>
        <mapping resource="pojos/Store.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
